.container-flex {
  display: flex;
  border: dashed 2px gray; }

.container-inline-flex {
  display: inline-flex;
  border: dashed 2px gray; }

.container-direction-column {
  display: flex;
  flex-direction: column;
  border: dashed 2px gray; }

.container-direction-column-reverse {
  display: flex;
  flex-direction: column-reverse;
  border: dashed 2px gray; }

.container-flex-default-no-wrap {
  display: flex;
  border: dashed 2px gray; }

.container-flex-wrap {
  display: flex;
  flex-wrap: wrap;
  border: dashed 2px gray; }
