@mixin border {
    border: dashed 2px gray;
}

.container-flex {
    display: flex;
    @include border;
}

.container-inline-flex {
    display: inline-flex;
    @include border;
}

.container-direction-column {
    display: flex;
    flex-direction: column;
    @include border;
}

.container-direction-column-reverse {
    display: flex;
    flex-direction: column-reverse;
    @include border;
}

.container-flex-default-no-wrap {
    display: flex;
    @include border
}

.container-flex-wrap {
    display: flex;
    flex-wrap: wrap;
    @include border
}