@mixin border {
    border: dashed 2px gray;
}

.container-flex-start {
    display: flex;
    justify-content: flex-start;
    @include border;
}

.container-flex-end {
    display: flex;
    justify-content: flex-end;
    @include border;
}

.container-center {
    display: flex;
    justify-content: center;
    @include border;
}

.container-space-between {
    display: flex;
    justify-content: space-between;
    @include border;
}

.container-space-around {
    display: flex;
    justify-content: space-around;
    @include border;
}

.container-space-evenly {
    display: flex;
    justify-content: space-evenly;
    @include border;
}