.container-flex-start {
  display: flex;
  justify-content: flex-start;
  border: dotted 2px gray; }

.container-flex-end {
  display: flex;
  justify-content: flex-end;
  border: dotted 2px gray; }

.container-center {
  display: flex;
  justify-content: center;
  border: dotted 2px gray; }

.container-space-between {
  display: flex;
  justify-content: space-between;
  border: dotted 2px gray; }

.container-space-around {
  display: flex;
  justify-content: space-around;
  border: dotted 2px gray; }

.container-space-evenly {
  display: flex;
  justify-content: space-evenly;
  border: dotted 2px gray; }
