@mixin border {
    border: dashed 2px gray;
    height: 200px;
}

.container-align-flex-start {
    display: flex;
    align-items: flex-start;
    @include border;
}

.container-align-flex-end {
    display: flex;
    align-items: flex-end;
    @include border;
}

.container-align-center {
    display: flex;
    align-items: center;
    @include border;
}

.container-align-baseline {
    display: flex;
    align-items: baseline;
    @include border;
}

.container-align-stretch {
    display: flex;
    align-items: stretch;
    @include border;
}

.container-self-align {
    display: flex;
    align-items: flex-end;
    @include border;
}

.align-top {
    align-self: flex-start;
}

.align-stretch {
    align-self: stretch;
}

.container-align-content-start {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    @include border;
}

.container-align-content-end {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    @include border;
}

.container-align-content-center {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    @include border;
}

.container-align-content-stretch {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    @include border;
}

.container-align-content-space-between {
    display: flex;
    align-items: space-between;
    flex-wrap: wrap;
    @include border;
}

.container-align-content-space-around {
    display: flex;
    align-items: space-around;
    flex-wrap: wrap;
    @include border;
}