.parent {
  display: flex;
  text-align: center;
  color: gray;
  justify-content: space-around;
  flex-flow: row wrap; }

.item-container {
  border: 1px solid lightgray;
  flex: 0 0 40%;
  margin: 20px;
  width: 900px; }
