@mixin border {
    border: dashed 2px gray;
}

@mixin item-common {
    color: white;
    font-size: 1.2em;
    padding: 1em;
    text-align: center;
    background-color: #c0392b;
}

.container-flex-grow {
    display: flex;
}

.item-flex {
    @include item-common;
}

.item-flex-grow-1 {
    @include item-common;
    flex-grow: 1;
}

.item-flex-basis-40 {
    @include item-common;
    flex-basis: 40%;
}

.item-flex-basis-0 {
    @include item-common;
    flex-basis: 0px;
}

.item-flex-1 {
    @include item-common;
    flex: 1;
}

.flex-0-1-auto {
    @include item-common;
    flex: 0 1 auto;
}

.flex-0-0-auto {
    @include item-common;
    flex: 0 0 auto;
}

.flex-30percent {
    @include item-common;
    flex: 30%;
}

.flex-1-1-auto {
    @include item-common;
    flex: 1 1 auto;
}

.flex-auto {
    flex: auto;
}

.flex-default {
    flex: default;
}

.flex-none {
    flex: none;
}

.flex-item-01 {
    color: white;
    background-color: #c0392b;
}

.flex-item-02 {
    color: white;
    background-color: #1abc9c;
}

.flex-item-03 {
    color: white;
    background-color: #f1c40f;
}