.flex-item {
    color: #fff;
    font-size: 1.2em;
    padding: 1em;
    text-align: center;
}

.flex-item-01 {
    background-color: #c0392b;
}

.flex-item-02 {
    background-color: #1abc9c;
}

.flex-item-03 {
    background-color: #f1c40f;
}

.flex-item-04 {
    background-color: #2980b9;
}

.flex-item-05 {
    background-color: #f39c12;
}

.flex-item-06 {
    background-color: #8e44ad;
}

.flex-item-07 {
    background-color: #2c3e50;
}

.flex-item-08 {
    background-color: #7f8c8d;
}

.flex-item strong {
    display: block;
    font-size: 130%;
}

.flex-1 {
    flex: 1;
}

.flex-twice {
    flex: 2;
}